# {{ ansible_managed }}

{% if apache_host is defined %}
Listen {{apache_host}}:{{apache_port}}
{% elseif apache_port is defined %}
Listen {{apache_port}}
{% else %}
Listen 80
{% endif %}

<IfModule mod_ssl.c>
    Listen {{apache_host}}:{{apache_ssl_port}}
    NameVirtualHost {{apache_host}}:{{apache_port}}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{apache_host}}:{{apache_ssl_port}}
    NameVirtualHost {{apache_host}}:{{apache_port}}
</IfModule>
