# {{ ansible_managed }}

{% if apache2_host is defined and apache2_host != '' %}
Listen {{ apache2_host }}:{{ apache2_port }}
{% else %}
Listen {{ apache2_port }}
{% endif %}

<IfModule mod_ssl.c>
{% if apache2_host is defined and apache2_host != '' %}
    Listen {{ apache2_host }}:{{ apache2_ssl_port }}
{% else %}
    Listen {{ apache2_ssl_port }}
{% endif %}

</IfModule>

<IfModule mod_gnutls.c>
{% if apache2_host is defined and apache2_host != '' %}
    Listen {{ apache2_host }}:{{ apache2_ssl_port }}
{% else %}
    Listen {{ apache2_ssl_port }}
{% endif %}
</IfModule>
