      # If your site can be accessed both with and without the '{{ apache2_webhost }}.' prefix, you
      # can use one of the following settings to redirect users to your preferred
      # URL, either WITH or WITHOUT the '{{ apache2_webhost }}.' prefix. Choose ONLY one option:
      #
      # To redirect all users to access the site WITH the '{{ apache2_webhost }}.' prefix,
      # (http://example.com/... will be redirected to http://{{ apache2_webhost }}.example.com/...)
      # uncomment the following:
      RewriteCond %{HTTP_HOST} .
      RewriteCond %{HTTP_HOST} !^{{ apache2_webhost }}\. [NC]
      RewriteRule ^ http%{ENV:protossl}://{{ apache2_webhost }}.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
      #
      # To redirect all users to access the site WITHOUT the 'www.' prefix,
      # (http://{{ apache2_webhost }}.example.com/... will be redirected to http://example.com/...)
      # uncomment the following:
      # RewriteCond %{HTTP_HOST} ^{{ apache2_webhost }}\.(.+)$ [NC]
      # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

      # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
      # VirtualDocumentRoot and the rewrite rules are not working properly.
      # For example if your site is at http://example.com/drupal uncomment and
      # modify the following line:
      # RewriteBase /drupal
      #
      # If your site is running in a VirtualDocumentRoot at http://example.com/,
      # uncomment the following line:
      # RewriteBase /

{% if app_i18n|default(False)|bool and apache2_redirect_front2lang|default(False)|bool and drupal_version|version_compare('7', '==') %}
  {% for language in app_languages|default([]) %}
      ## ONLY on frontpage, redirect to /{{ language }} if ANY of the browser languages 
      ## starts with '{{ language }}'
      RewriteCond %{HTTP:Accept-Language} ^{{ language }}.*$ [NC]
      RewriteCond %{REQUEST_URI} ^/$ [NC]
      RewriteCond %{QUERY_STRING} !(^q\=) [NC]
      RewriteRule ^(.*)$ /{{ language }} [L,R=302]
  {% endfor %}
{% endif %}
