# {{ ansible_managed }}

<VirtualHost {{ apache2_host|default('*') }}:{{ apache2_port }}>
  ServerName                            {{ apache2_webhost }}{{ item }}.{{ webdomain }}
{% for alias in app_env.aliases|default([]) %}
  ServerAlias                           {{ alias }}
{% endfor %}

  Include {{ app_name }}-common{{ item }}.conf
</VirtualHost>
