# {{ ansible_managed }}

<VirtualHost {{ apache2_host|default('*') }}:{{ apache2_ssl_port }}>
  ServerName                            {{ apache2_webhost }}{{ item }}.{{ apache2_webdomain }}
{% for alias in app_server_aliases|default([]) %}
  ServerAlias                           {{ alias }}
{% endfor %}

{% if apache2_pki_cert is defined and apache2_pki_key is defined %}
  <IfModule mod_ssl.c>
  SSLEngine on
  SSLCertificateFile {{ apache2_pki_cert }}
  SSLCertificateKeyFile {{ apache2_pki_key }}
{% if apache2_ssl_params is defined and apache2_ssl_params %}
{% for key, value in apache2_ssl_params.iteritems() %}
  {{ key }}  {{ value }}
{% endfor %}
{% endif %}

  </IfModule>

  <IfModule gnutls.c>
    GnuTLSEnable on
    GnuTLSPriorities NORMAL:!DHE-RSA:!DHE-DSS:!AES-256-CBC
    GnuTLSCertificateFile "{{ apache2_pki_cert }}"
    GnuTLSKeyFile         "{{ apache2_pki_key }}"
  </IfModule>

{% endif %}

  Include {{ apache2_site_name }}-common{{ item }}.conf
</VirtualHost>
