{{ vhost_base_path }}/{{ item['host'] }}/logs/error.log {
  compress
  dateext
  maxage 365
  rotate 99
  size=+4096k
  notifempty
  missingok
  create 664 {{ item['user'] }} {{ item['group'] }}
  postrotate
    /etc/init.d/apache2 reload
  endscript
}

{{ vhost_base_path }}/{{ item['host'] }}/logs/access.log {
  compress
  dateext
  maxage 365
  rotate 99
  size=+4096k
  notifempty
  missingok
  create 664 {{ item['user'] }} {{ item['group'] }}
  postrotate
    /etc/init.d/apache2 reload
  endscript
}
