{{ vhost_base_path }}/{{ app_name }}/logs/access.log {{ vhost_base_path }}/{{ app_name }}/logs/error.log {
  daily
  missingok
  compress
  delaycompress
  sharedscripts
  dateext
  rotate 60
  create
  maxage 365
  postrotate
    if [ -f "$(. /etc/apache2/envvars ; echo ${APACHE_PID_FILE:-/var/run/apache2.pid})" ]; then
      service apache2 reload > /dev/null
    fi
  endscript
}
