{% if item.app_log is defined %}
{{ item.vhost_base_path }}/{{ item.host }}/logs/{{ item.app_log }} {
    compress
    dateext
    maxage 365
    rotate 99
    size=+4096k
    notifempty
    missingok
    create 664 {{ item.user }} {{ item.group }}
    endscript
}
{% endif %}
