{% if app_log is defined %}
{{ vhost_base_path }}/{{ host }}/logs/{{ app_log }} {
    compress
    dateext
    maxage 365
    rotate 99
    size=+4096k
    notifempty
    missingok
    create 664 {{ user }} {{ group }}
    endscript
}
{% endif %}
